.buttons {
  display: flex;
  align-items: center;
  //justify-content: space-between;
  min-width: 2.5em;
}

button {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @include trans;
  &:hover {
    background-color: #f7f7f7;
  }
}

.button {
  padding: 20px;
  width: 35px;
  height: 35px;
  margin: 0 5px;
  border-radius: 6px;
  &:first-child, &:last-child {margin: 0}
}