.menu {
  width: 100%;
  &__header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  &__dashboard {
    border-bottom: 1px solid red;
    border-top: 1px solid red;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
    margin-bottom: 20px;
    &-item {
      height: 100px;
      width: 100%;
      button {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .material-icons {
          font-size: 30px;
          margin-bottom: 5px;
        }
      }
    }
  }
  &__tables {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    &-item {
      width: 100%;
      max-width: 1024px;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      border: 1px solid #000;
      cursor: pointer;
      &:hover {
        background-color: #f7f7f7;
      }
      &:not(:last-child) {
        margin-bottom: 50px;
      }
      &-name {

      }
      &-date {

      }
    }
  }
}